django
bcrypt
argon2-cffi
mysqlclient
newrelic
gunicorn
gevent
djangorestframework
djangorestframework-jwt
djangorestframework-xml
django-simple-history
djangorestframework-datatables
drf-yasg

django-fsm

drf-tracking
django-braces
django-redis
django-storages
boto3
django-cors-headers
django-import-export
djangorestframework-camel-case
celery[redis]
django-sendgrid-v5
Pillow
django-ajax-selects
django-object-actions

raven

xmltodict

twilio
nexmo

requests
requests-toolbelt

pycryptodome
customerio