<div class="row">
  <div class="col-sm-12 text-center">
    <h2 class="bg-primary text-white p-2">Withdrawals by created date</h2>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <table id="withdrawals-by-date" class="table table-striped table-bordered" data-server-side="true" data-ajax="/info/withdrawals-by-date/?format=datatables">
      <thead>
        <tr>
          <th data-data="client">Клиент</th>
          <th data-data="created_at">Дата создания</th>
          <th data-data="waiting_hours">Часов ожидания</th>
        </tr>
      </thead>
    </table>
  </div>
</div>

<div class="row">
   <a href="{{ withdrawals_url }}" class="btn btn-default withdrawal-link">Показать все выводы</a>
</div>

<script>
  $(document).ready(function() {
      $('#withdrawals-by-date').DataTable();
  });
</script>